@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  /* background-color: #eff8ff; */
}

.container {
  width: 60%;
  margin: 6em auto;
}

.title {
  text-align: center;
  margin-bottom: 1em;
}

.subtitle {
  text-align: center;
}

.divider {
  margin: 2em 10em;
  border: 1px solid #d5ebf7;
}

h3 {
  text-align: center;
  margin-bottom: 1em;
}

.usage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  height: 100%;
}

.usage div {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}

.usage div p.usage-title {
  text-align: center;
  font-weight: 600;
}

.usage div p.usage-title+p {
  flex: 1;
  height: 100%;
  align-self: stretch;
}

.usage div a {
  border: 2px solid #64cafa;
  padding: 1em;
  cursor: pointer;
  background-color: #a6dcf5;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: none;
  text-align: center;
}

.usage div a:visited {
  color: inherit;
}
