
{% set trail = {
  recordingFolderHistory: {
    folder: "recordingFolderHistory",
    title: "Tour 1: Recording the History of a Folder",
    lessons: {
      intro: {path: "lessons/intro", title: "T1L1. Introduction to Revision Control"},
      gitPrep: {path: "lessons/gitPrep", title: "T1L2. Preparing to Use Git"},
      init: {path: "lessons/init", title: "T1L3. Putting a Folder Under Git's Control"},
      stage: {path: "lessons/stage", title: "T1L4. Specifying What to Include in a Snapshot"},
      commit: {path: "lessons/commit", title: "T1L5. Saving a Snapshot"},
      log: {path: "lessons/log", title: "T1L6. Examining the Revision History"}
    }
  },
  backingUpOnCloud: {
    folder: "backingUpOnCloud",
    title: "Tour 2: Backing up a Repo on the Cloud",
    lessons: {
      remoteRepos: {path: "lessons/remoteRepos", title: "T2L1. Remote Repositories"},
      githubPrep: {path: "lessons/githubPrep", title: "T2L2. Preparing to use GitHub"},
      createRemoteRepo: {path: "lessons/createRemoteRepo", title: "T2L3. Creating a Repo on GitHub"},
      setRemote: {path: "lessons/setRemote", title: "T2L4. Linking a Local Repo With a Remote Repo"},
      push: {path: "lessons/push", title: "T2L5. Updating the Remote Repo"},
      ignore: {path: "lessons/ignore", title: "T2L6. Omitting Files from Revision Control"}
    }
  },
  workingWithRemotes: {
    folder: "workingWithRemotes",
    title: "Tour 3: Working Off a Remote Repo",
    lessons: {
      fork: {path: "lessons/fork", title: "T3L1. Duplicating a Remote Repo on the Cloud"},
      clone: {path: "lessons/clone", title: "T3L2. Creating a Local Copy of a Repo"},
      pull: {path: "lessons/pull", title: "T3L3. Downloading Data Into a Local Repo"}
    }
  },
  usingRevisionHistory: {
    folder: "usingRevisionHistory",
    title: "Tour 4: Using the Revision History of a Repo",
    lessons: {
      show: {path: "lessons/show", title: "T4L1. Examining a Commit"},
      tag: {path: "lessons/tag", title: "T4L2. Tagging Commits"},
      diff: {path: "lessons/diff", title: "T4L3. Comparing Points of History"},
      checkout: {path: "lessons/checkout", title: "T4L4. Traversing to a Specific Commit"},
      reset: {path: "lessons/reset", title: "T4L5. Rewriting History to Start Over"},
      revert: {path: "lessons/revert", title: "T4L6. Reverting a Specific Commit"}
    }
  },
  fineTuningHistory: {
    folder: "fineTuningHistory",
    title: "Tour 5: Fine-Tuning the Revision History",
    lessons: {
      selectiveStage: {path: "lessons/selectiveStage", title: "T5L1. Controlling What Goes Into a Commit"},
      commitMessage: {path: "lessons/commitMessage", title: "T5L2. Writing Good Commit Messages"},
      interactiveRebase: {path: "lessons/interactiveRebase", title: "T5L3. Reorganising Commits"}
    }
  },
  branchingLocally: {
    folder: "branchingLocally",
    title: "Tour 6: Branching Locally",
    lessons: {
      branch: {path: "lessons/branch", title: "T6L1. Creating Branches"},
      merge: {path: "lessons/merge", title: "T6L2. Merging Branches"},
      mergeConflicts: {path: "lessons/mergeConflicts", title: "T6L3. Resolving Merge Conflicts"},
      branchRename: {path: "lessons/branchRename", title: "T6L4. Renaming Branches"},
      branchDelete: {path: "lessons/branchDelete", title: "T6L5. Deleting Branches"}
    }
  },
  syncingBranches: {
    folder: "syncingBranches",
    title: "Tour 7: Keeping Branches in Sync",
    lessons: {
      syncByMerge: {path: "lessons/syncByMerge", title: "T7L1. Merging to Sync Branches"},
      syncByRebase: {path: "lessons/syncByRebase", title: "T7L2. Rebasing to Sync Branches"},
      cherryPick: {path: "lessons/cherryPick", title: "T7L3. Copying Specific Commits"}
    }
  },
  remoteBranches: {
    folder: "remoteBranches",
    title: "Tour 8: Working with Remote Branches",
    lessons: {
      remoteBranchPush: {path: "lessons/remoteBranchPush", title: "T8L1. Pushing Branches to a Remote"},
      remoteBranchPull: {path: "lessons/remoteBranchPull", title: "T8L2. Pulling Branches from a Remote"},
      remoteBranchDelete: {path: "lessons/remoteBranchDelete", title: "T8L3. Deleting Branches from a Remote"},
      remoteBranchRename: {path: "lessons/remoteBranchRename", title: "T8L4. Renaming Branches in a Remote"}
    }
  },
  workingWithPrs: {
    folder: "workingWithPrs",
    title: "Tour 9: Working with Pull Requests",
    lessons: {
      prsCreate: {path: "lessons/prsCreate", title: "T9L1. Creating Pull Requests"},
      prsReview: {path: "lessons/prsReview", title: "T9L2. Reviewing Pull Requests"},
      prsMerge: {path: "lessons/prsMerge", title: "T9L3. Merging Pull Requests"}
    }
  },
  managingProjects: {
    folder: "managingProjects",
    title: "Tour 10: Managing Git-Based Projects",
    lessons: {
      workflows: {path: "lessons/workflows", title: "T10L1. Git Workflows"},
      forkingWorkflow: {path: "lessons/forkingWorkflow", title: "T10L2. Forking Workflow (with Branching)"},
      otherPmFeatures: {path: "lessons/otherPmFeatures", title: "T10L3. Other Project Management Features"}
    }
  }
} %}

{% set detours = {
  undoRepoInit: {lesson: trail.recordingFolderHistory.lessons.init, title: "Undoing a Repo Initialisation"},
  unstagingChanges: {lesson: trail.recordingFolderHistory.lessons.stage, title: "Unstaging Changes"},
  stagingFileDeletions: {lesson: trail.recordingFolderHistory.lessons.commit, title: "Staging File Deletions"},
  pushToMultipleRepos: {lesson: trail.backingUpOnCloud.lessons.push, title: "Pushing to Multiple Repos"},
  managingRemotes: {lesson: trail.backingUpOnCloud.lessons.setRemote, title: "Managing Details of a Remote"},
  ignoreTrackedFiles: {lesson: trail.backingUpOnCloud.lessons.ignore, title: "Ignoring Previously-Tracked Files"},
  pullingFromMultipleRemotes: {lesson: trail.workingWithRemotes.lessons.pull, title: "Pulling from Multiple Remotes"},
  stashingChanges: {lesson: trail.usingRevisionHistory.lessons.checkout, title: "Stashing Uncommitted Changes Temporarily"},
  conflictAtCheckout: {lesson: trail.usingRevisionHistory.lessons.checkout, title: "Dealing with Uncommitted Conflicting Changes at a Checkout"},
  resetUncommitedChanges: {lesson: trail.usingRevisionHistory.lessons.reset, title: "Resetting Uncommitted Changes"},
  undoRecentCommits: {lesson: trail.usingRevisionHistory.lessons.reset, title: "Undoing/Deleting Recent Commits"},
  resetTrackingBranch: {lesson: trail.usingRevisionHistory.lessons.reset, title: "Resetting a Remote-Tracking Branch Ref"},
  updateLastCommit: {lesson: trail.fineTuningHistory.lessons.interactiveRebase, title: "Updating the Last Commit"},
  undoMerge: {lesson: trail.branchingLocally.lessons.merge, title: "Undoing a Merge"},
  compareBranches: {lesson: trail.branchingLocally.lessons.merge, title: "Comparing Branches"},
  squashMerge: {lesson: trail.branchingLocally.lessons.merge, title: "Doing a Squash Merge"}
} %}

{% set exercises = {
  under_control: {lesson: trail.recordingFolderHistory.lessons.init, identifier: "under-control"},
  undo_init: {lesson: trail.recordingFolderHistory.lessons.init, detour: detours.undoRepoInit, identifier: "undo-init"},
  stage_fright: {lesson: trail.recordingFolderHistory.lessons.stage, identifier: "stage-fright"},
  staging_intervention: {detour: detours.unstagingChanges, identifier: "staging-intervention"},
  grocery_shopping: {lesson: trail.recordingFolderHistory.lessons.commit, identifier: "grocery-shopping"},
  log_and_order: {lesson: trail.recordingFolderHistory.lessons.log, identifier: "log-and-order"},
  remote_control: {lesson: trail.backingUpOnCloud.lessons.createRemoteRepo, identifier: "remote-control"},
  link_me: {lesson: trail.backingUpOnCloud.lessons.setRemote, identifier: "link-me"},
  push_over: {lesson: trail.backingUpOnCloud.lessons.push, identifier: "push-over"},
  ignoring_somethings: {lesson: trail.backingUpOnCloud.lessons.ignore, identifier: "ignoring-somethings"},
  fork_repo: {lesson: trail.workingWithRemotes.lessons.fork, identifier: "fork-repo"},
  clone_repo: {lesson: trail.workingWithRemotes.lessons.clone, identifier: "clone-repo"},
  fetch_and_pull: {lesson: trail.workingWithRemotes.lessons.pull, identifier: "fetch-and-pull"},
  view_commits: {lesson: trail.usingRevisionHistory.lessons.show, identifier: "view-commits"},
  tags_add: {lesson: trail.usingRevisionHistory.lessons.tag, identifier: "tags-add"},
  tags_update: {lesson: trail.usingRevisionHistory.lessons.tag, identifier: "tags-update"},
  tags_push: {lesson: trail.usingRevisionHistory.lessons.tag, identifier: "tags-push"},
  sensors_diff: {lesson: trail.usingRevisionHistory.lessons.diff, identifier: "sensors-diff"},
  sensors_checkout: {lesson: trail.usingRevisionHistory.lessons.checkout, identifier: "sensors-checkout"},
  sensors_reset: {lesson: trail.usingRevisionHistory.lessons.reset, identifier: "sensors-reset"},
  sensors_revert: {lesson: trail.usingRevisionHistory.lessons.revert, identifier: "sensors-revert"},
  side_track: {lesson: trail.branchingLocally.lessons.branch, identifier: "side-track"},
  branch_previous: {lesson: trail.branchingLocally.lessons.branch, identifier: "branch-previous"},
  branch_compare: {lesson: trail.branchingLocally.lessons.merge, detour: detours.compareBranches, identifier: "branch-compare"},
  branch_bender: {lesson: trail.branchingLocally.lessons.merge, identifier: "branch-bender"},
  branch_forward: {lesson: trail.branchingLocally.lessons.merge, identifier: "branch-forward"},
  merge_undo: {lesson: trail.branchingLocally.lessons.merge, detour: detours.undoMerge, identifier: "merge-undo"},
  ff_undo: {lesson: trail.branchingLocally.lessons.merge, detour: detours.undoMerge, identifier: "ff-undo"},
  merge_squash: {lesson: trail.branchingLocally.lessons.merge, detour: detours.squashMerge, identifier: "merge-squash"},
  conflict_mediator: {lesson: trail.branchingLocally.lessons.mergeConflicts, identifier: "conflict-mediator"},
  branch_rename: {lesson: trail.branchingLocally.lessons.branchRename, identifier: "branch-rename"},
  branch_delete: {lesson: trail.branchingLocally.lessons.branchDelete, identifier: "branch-delete"},
  mix_messy_docs: {lesson: trail.branchingLocally.lessons.branchDelete, identifier: "mix-messy-docs"},
  mix_messy_graph: {lesson: trail.branchingLocally.lessons.branchDelete, identifier: "mix-messy-graph"},
  glossary_branch_push: {lesson: trail.remoteBranches.lessons.remoteBranchPush, identifier: "glossary-branch-push"},
  glossary_branch_pull: {lesson: trail.remoteBranches.lessons.remoteBranchPull, identifier: "glossary-branch-pull"},
  glossary_branch_delete: {lesson: trail.remoteBranches.lessons.remoteBranchDelete, identifier: "glossary-branch-delete"},
  glossary_branch_rename: {lesson: trail.remoteBranches.lessons.remoteBranchRename, identifier: "glossary-branch-rename"},
  remote_branch_rename: {lesson: trail.remoteBranches.lessons.remoteBranchRename, identifier: "remote-branch-rename", wip: 1}
} %}
<!-- ============================================================ -->

{%- macro slugify(text) %}{{ text | lower | replace(r/[\'\s\/]/g, '-') | replace(r/[\(\)%:,&\`\[\]\+\.]/g, '') }}{% endmacro -%}
<!-- ============================================================ -->

{%- macro bold_number(text) %}{{ "{" }} {{ 'texts' if '[' in text else 'text' }}="{{ text }}" t-class="fw-bold" {{ "}" }}{% endmacro -%}
<!-- ============================================================ -->

{%- macro label(style, text) %}<span class="badge bg-{{ style }} text-{{ 'dark' if style in ['warning', 'light'] else 'white' }}">{{ text }}</span>{% endmacro -%}
<!-- ============================================================ -->

{% macro dropdown(text) %}<span class="btn btn-light border">{{ text }} :octicon-triangle-down:</span>{% endmacro %}
<!-- ============================================================ -->

{% macro button_green(text) %}<span class="btn btn-success ps-1 pe-1 pb-0 pt-0">{{ text }}</span>{% endmacro %}
<!-- ============================================================ -->

{% macro button_light(text) %}<span class="btn btn-light ps-1 pe-1 pb-0 pt-0 border">{{ text }}</span>{% endmacro %}
<!-- ============================================================ -->

{% macro sub_numbers(p) %}{{ '{' }} texts="['{{ p }}.1)','{{ p }}.2)','{{ p }}.3)','{{ p }}.4)']" {{ '}' }}{% endmacro %}
<!-- ============================================================ -->

{% macro thumbnail(icon, size=50) %}<thumbnail circle text="{{ icon }}" background="#198754" font-color="white" size="{{ size }}" />{% endmacro %}
<!-- ============================================================ -->

{% macro annotation_label(x, y, text) %}<a-point x="{{ x }}%" y="{{ y }}%"><md><span style="background-color: yellow;" class="p-1 opacity-75 rounded-2">{{ text }}</span></md></a-point>{% endmacro %}
<!-- ============================================================ -->

{% macro show_output(indent_level='') %}
{% if indent_level %}<div class="indented-level{{ indent_level }}">{% endif %}
<div class="d-flex">
<div class="me-3">
<span><md>**%%⤷%%**</md></span>
</div>
<div class="flex-grow-1">

{{ caller() }}

</div>
</div>
{% if indent_level %}</div>{% endif %}
{% endmacro %}
<!-- ============================================================ -->

{% macro button_green(text) %}<span class="btn btn-success ps-1 pe-1 pb-0 pt-0">{{ text }}</span>{% endmacro %}
{% macro button_light(text) %}<span class="btn btn-light ps-1 pe-1 pb-0 pt-0 border">{{ text }}</span>{% endmacro %}
<!-- ============================================================ -->

{% macro show_tour_title(text) %}<div class="text-white bg-success p-1" style="border-top-left-radius: 15px; border-top-right-radius: 15px;"><span class="h2"><span class="text-light"><md>:fas-map-marker-alt:</md></span> {{ text }}</span></div>{% endmacro %}
<!-- ============================================================ -->

{% macro show_tour_link(tour) %}[{{ tour.title }}]({{ baseUrl }}/lessons/trail/{{ tour.folder }}/){% endmacro %}
<!-- ============================================================ -->

{% macro show_lesson_link(lesson) %}[Lesson {{ lesson.title }}]({{ baseUrl }}/{{ lesson.path }}/index.html){% endmacro %}
<!-- ============================================================ -->

{% macro show_ref(text, style="success") -%}<span class="badge bg-{{ style }} text-white ps-1 pe-1">:octicon-git-branch: {{ text }}</span>{%- endmacro %}
<!-- ============================================================ -->

{% macro show_head() -%}<span style="position: relative; left: -2px;"><span class="text-danger m-0 p-0">←</span><span class="badge bg-danger text-white me-2 ps-1 pe-1">HEAD</span></span>{%- endmacro %}
<!-- ============================================================ -->

{% macro show_tag(text) -%}<span class="badge rounded-pill bg-light mt-0 mb-0 pb-0 pt-0 pe-1 ps-1 text-dark border border-secondary"><md>:octicon-tag: {{ text }}</md></span>{%- endmacro %}
<!-- ============================================================ -->

{% macro show_commit(text, edge='|', desc='', style="info", msg='') %}
{% set size = '25' %}
<div class="d-flex align-items-center"><span class="d-flex justify-content-center align-items-center border bg-{{ style }} text-white border-{{ style }}" style="width: {{ size }}px; height: {{ size }}px; border-radius: 50%;"><md><small>{{ text }}</small></md></span>{% if desc %}<span class="ms-1"><md>{{ desc }}</md></span>{% endif %}{% if msg %}<span class="ms-2 font-monospace small"><md>%%{{ msg }}%%</md></span>{% endif %}</div>
{% if edge %}<div class="d-flex justify-content-center align-items-center text-{{ style }}" style="width: {{ size }}px; height: 18px; padding: 0; margin: -4px 0;">{{ edge }}</div>{% endif %}{% endmacro %}
<!-- ============================================================ -->

{% macro show_git_term(term, definitiona_id="", current_page="") -%}<span class="badge text-dark" style="background-color: rgba(13, 202, 240, 0.2);">{% if current_page %}<trigger for="pop:{{ current_page }}-{{ definition_id }}">{% endif %}++{{ term }}++{% if current_page %}</trigger>{% endif %}</span>{%- endmacro %}
<!-- ============================================================ -->

{% macro show_git_term_tip(id, current_page) -%}
<popover id="pop:{{ current_page }}-{{ definition_id }}" placement="top" >
  <span slot="header" class="text-info"><md>Definition: **<include src="{{ baseUrl }}/lessons/common/terms-fragment.md#{{ id }}-term" inline trim/>**</md></span>
  <div slot="content">
    <include src="{{ baseUrl }}/lessons/common/terms-fragment.md#{{ id }}-definition" inline trim/>
  </div>
</popover>

{%- endmacro %}
<!-- ============================================================ -->

{% macro show_folder_contents(filename, prefix='', has_metadata=0, width=220) -%}
{% set prefix_str = (prefix + '-') if prefix else '' %}
<div class="border border-info p-0 bg-white" style="width: {{ width }}px;">
<div class="bg-info text-white p-1"><md>{{ icon_folder }} Working Directory</md></div>
<div class="p-2">

  <div class="border border-warning bg-light pb-0" style="width: {{ width-15 }}px;">
  <div class="bg-warning text-dark p-1"><md>{{ icon_folder }} .git Folder</md></div>
  <div style="width: {{ width-15 }}px; ">
  <div class="pb-0" style="border-bottom: 1px dotted #aaa;">

{% if has_metadata %}<include src="{{ filename }}#{{ prefix_str }}metadata"/>{% endif %}
<span class="badge bg-light text-secondary mt-2">other Git metadata ...</span><br>
  </div>
  <div class="pt-0 p-1">

  <span class="badge bg-warning text-dark mt-2">staging area</span><br>
  <div class="pt-0 pb-0 p-2">
<small>

<include src="{{ filename }}#{{ prefix_str }}staging"/>
</small>
  </div>

  </div>
  </div>
  </div>
<br>
<small>

<include src="{{ filename }}#{{ prefix_str }}working"/>
</small>
</div>
</div>
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_folder_columns(filename, prefixes = ['a', 'b', 'c']) -%}
<div class="d-flex flex-wrap gap-3">
{% for p in prefixes %}
<div class="p-2 bg-light text-start"  style="max-width: 240px;">
{{ show_folder_contents(filename, p) }}
<br>

<include src="{{ filename }}#{{ p }}-text" inline trim/>
  </div>
{% endfor %}
</div>
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_transformation_columns(a, b, c) -%}
<div class="d-flex flex-column flex-md-row align-items-stretch justify-content-start gap-2">
<div class="flex-shrink-0 d-flex flex-column justify-content-end">

{{ a }}
</div>
<div class="flex-shrink-0 d-flex justify-content-center align-items-center text-center p-3" style="min-height: 30px;">

++→++<br>
{{ b }}
</div>
<div class="flex-shrink-0 d-flex flex-column justify-content-end">

{{ c }}
</div>
</div>

{%- endmacro %}
{% set border %}
<div class="flex-shrink-0 d-flex flex-column justify-content-end" style="border-right: 1px dotted grey;">
</div>
{% endset %}
<!-- ============================================================ -->

{% macro show_multiple_columns(cell_contents) -%}
<div class="d-flex flex-column flex-md-row align-items-stretch justify-content-start gap-2">
{% for c in cell_contents %}
{% if c == '|' %}
{{ border }}
{% else %}
<div class="flex-shrink-0 d-flex flex-column justify-content-end">

{{ c }}
</div>
{% endif %}
{% endfor %}
</div>

{%- endmacro %}
<!-- ============================================================ -->

{% macro os_tabs_marker(os='') -%}
{% if os == 'windows' %}
<cv-tabgroup group-id="os">
<cv-tab tab-id="windows">
<cv-tab-header><md>:fab-windows: Windows</md></cv-tab-header>
<cv-tab-body>
{% elseif os == 'mac' %}
</cv-tab-body>
</cv-tab>
<cv-tab tab-id="mac">
<cv-tab-header><md>:fab-apple: macOS</md></cv-tab-header>
<cv-tab-body>
{% elseif os == 'linux' %}
</cv-tab-body>
</cv-tab>
<cv-tab tab-id="linux">
<cv-tab-header><md>:fab-linux: Linux</md></cv-tab-header>
<cv-tab-body>
{% elseif os in ['end', ''] %}
</cv-tab-body>
</cv-tab>
</cv-tabgroup>
{% endif %}
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_git_tabs_from_text(cli, sourcetree, indent_level='') -%}
<!-- to be removed -->
{% if indent_level %}<div class="indented-level{{ indent_level }}">{% endif %}
<cv-tabgroup group-id="git-ui">
<cv-tab tab-id="cli">
<cv-tab-header><md>:fas-terminal: CLI</md></cv-tab-header>
<cv-tab-body>

{{ cli }}
</cv-tab-body>
</cv-tab>
<cv-tab tab-id="sourcetree-windows|sourcetree-mac" class="d-print-none">
<cv-tab-header><md>:fab-bitbucket: Sourcetree</md></cv-tab-header>
<cv-tab-body>

{{ sourcetree }}
</cv-tab-body>
</cv-tab>
</cv-tabgroup>
{% if indent_level %}</div>{% endif %}
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_git_tabs(filename_suffix='', indent_level='') -%}
<!-- to be removed -->
{% if indent_level %}<div class="indented-level{{ indent_level }}">{% endif %}
<cv-tabgroup group-id="git-ui">
<cv-tab tab-id="cli">
<cv-tab-header><md>:fas-terminal: CLI</md></cv-tab-header>
<cv-tab-body>
    <include src="./cli{{ filename_suffix }}.md" />
</cv-tab-body>
</cv-tab>
<cv-tab tab-id="sourcetree-windows|sourcetree-mac" class="d-print-none">
<cv-tab-header><md>:fab-bitbucket: Sourcetree</md></cv-tab-header>
<cv-tab-body>
    <include src="./sourcetree{{ filename_suffix }}.md" />
</cv-tab-body>
</cv-tab>
</cv-tabgroup>
{% if indent_level %}</div>{% endif %}
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_steps_tabs(filename_suffix='', cli='', sourcetree='', sourcetree_windows='', sourcetree_mac='', indent_level='', is_os_specific=0, has_cli=1) -%}
{% if indent_level %}<div class="indented-level{{ indent_level }}">{% endif %}
<cv-tabgroup group-id="git-ui">
{% if has_cli %}
<cv-tab tab-id="cli">
<cv-tab-header><md>:bi-terminal-fill:&nbsp;CLI</md></cv-tab-header>
<cv-tab-body>

  {% if cli %}{{ cli }}{% else %}<include src="./steps-{{ filename_suffix }}-fragment.md#cli" />{% endif %}
</cv-tab-body>
</cv-tab>
{% else %}
{% set is_os_specific = (0 if sourcetree else 1) %}
{% endif %}
{% if sourcetree_windows %}{% set is_os_specific = 1 %}{% endif %}
{% if is_os_specific %}
<cv-tab tab-id="sourcetree-windows">
<cv-tab-header><md>:fab-windows: Sourcetree on Windows</md></cv-tab-header>
<cv-tab-body>

  {% if sourcetree_windows %}{{ sourcetree_windows }}{% else %}<include src="./steps-{{ filename_suffix }}-fragment.md#sourcetree-windows" />{% endif %}
</cv-tab-body>
</cv-tab>
<cv-tab tab-id="sourcetree-mac">
<cv-tab-header><md>:fab-apple: Sourcetree on macOS</md></cv-tab-header>
<cv-tab-body>

  {% if sourcetree_mac %}{{ sourcetree_mac }}{% else %}<include src="./steps-{{ filename_suffix }}-fragment.md#sourcetree-mac" />{% endif %}
</cv-tab-body>
</cv-tab>
{% else %}
<cv-tab tab-id="sourcetree-windows|sourcetree-mac">
<cv-tab-header><md>:fab-bitbucket: Sourcetree</md></cv-tab-header>
<cv-tab-body>

  {% if sourcetree %}{{ sourcetree }}{% else %}<include src="./steps-{{ filename_suffix }}-fragment.md#sourcetree" />{% endif %}
</cv-tab-body>
</cv-tab>
{% endif %}
</cv-tabgroup>
{% if indent_level %}</div>{% endif %}
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_prep(title, div_id) %}
<div class="d-print-none" id="{{ div_id }}">

<panel type="dark" header="###### :fas-gear: PREPARATION: **{{ title }}**" expanded>

{{ caller() }}
</panel>
<p/>
</div>
{% endmacro %}
<!-- ============================================================ -->

{%- macro hp_number(text) %}<span style="position: relative; right: 12px; background-color: rgba(255, 0, 0, 0.2); border-radius: 0 0.7em 0.7em 0" class="ps-3 pe-3 pb-1 pt-1 text-dark text-dark"><small>**{{ text }}**</small></span>{% endmacro -%}
<!-- ============================================================ -->

{% macro show_hands_on_practical(title) %}
<cv-toggle class="d-print-none" toggle-id="hands-on-practicals">
<span style="position: relative; top: 10px; background-color: rgba(255, 0, 0, 0.2);" class="badge rounded-pill text-dark fs-6">{{ icon_hands_on }} HANDS-ON: {{ title }}</span>
<div class="indented-level1">

<box type="important" seamless no-icon>

{{ caller() }}
{{ hp_number(":far-square-check: done!") }}
</box>
</div>
</cv-toggle>
{% endmacro %}
<!-- ============================================================ -->

{% macro callout(toggle_id='') %}
{% if toggle_id %}<cv-toggle toggle-id="{{ toggle_id }}">{% endif %}
<div class="indented-level2 d-print-none" >

<div class="callout shadow">

**What is this?**{.text-info} {{ caller() }}
</div>
</div>
{% if toggle_id %}</cv-toggle>{% endif %}
{% endmacro %}
<!-- ============================================================ -->

{% macro show_gm_footer() %}
<div class="bg-light">

  -><small>[Git-Mastery **commands list**]({{ baseUrl }}/companion-app/index.html?cv-show=app-commands)
  | [Report Git-Mastery **bugs**](https://github.com/git-mastery/git-mastery/issues)
  | [How to **update** Git-Mastery]({{ baseUrl }}/companion-app/index.html?cv-highlight=updating-app) </small><-
</div>
</panel>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_detour(detour_name, detour_title='', detour_path='') %}
{% set detour = detours[detour_name] %}
{% set title = detour_title if detour_title else detour.title %}
{% set path = detour_path if detour_path else (baseUrl + "/" + detour.lesson.path + "/detour-" + detour_name + "-fragment.md") %}
<div id="{{ detour_name }}">
<cv-toggle toggle-id="detours"><panel class="d-print-none" header="{{ icon_detour }} DETOUR: **{{ title }}**" type="warning" peek>

<include src="{{ path }}" />
</panel></cv-toggle>
</div>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_detour_link(detour_name) -%}
{% set detour = detours[detour_name] %}
the tour _{{ detour.title }}_ given in the lesson [_{{ detour.lesson.title }}_]({{ baseUrl }}/{{ detour.lesson.path }}/index.html?cv-highlight={{ detour_name }})
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_detour_preview(detour_name) %}
{% set detour = detours[detour_name] %}
<cv-toggle  toggle-id="detours"><panel class="d-print-none" header="{{ icon_detour }} Related DETOUR: **{{ detour.title }}**" type="secondary" expanded>

<include src="{{ baseUrl }}/{{ detour.lesson.path }}/detour-{{ detour_name }}-fragment.md#preview" />

That aspect is covered in {{ show_detour_link(detour_name) }}.
</panel></cv-toggle>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_under_the_hood(title, indent_level='') %}
{% if indent_level %}<div class="indented-level{{ indent_level }}">{% endif %}

<panel class="d-print-none" header="{{ icon_under_the_hood }} UNDER-THE-HOOD: **{{ title }}**" type="info" >

{{ caller() }}
</panel>
{% if indent_level %}</div>{% endif %}
{% endmacro %}
<!-- ============================================================ -->

{% macro show_hop_prep(identifier, manual_info='', continue_info='', sandbox_info='the sandbox', is_continue=0) %}
{% set has_multiple_options = continue_info or is_continue or manual_info %}
<panel header="{{ 'Option 1: ' if has_multiple_options else '' }}**Create a fresh sandbox** using the Git-Mastery app" peek>

* Navigate inside the `gitmastery-exercises` folder.{{ numbers_roman }}
* Run `gitmastery download {{ identifier }}` command.

The sandbox will be set up inside the `gitmastery-exercises/{{ identifier }}` folder.
{{ show_gm_footer() }}
</panel>

{% set count = 2 %}
{% if continue_info %}
<panel header="Option {{ count }}: **Repurpose {{ sandbox_info }} from the previous** hands-on practical" peek>

{{ continue_info }}
</panel>
{% set count = count+1 %}
{% endif %}

{% if manual_info %}
<panel header="Option {{ count }}: **Manually set up a sandbox**" peek>

{{ manual_info }}
</panel>
{% set count = count+1 %}
{% endif %}

{% if is_continue %}
<div class="indented-level1">
<p/>

Option {{ count }}: **Continue with {{ sandbox_info }} from the previous** hands-on practical
</div>
{% endif %}

<p/>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_exercise(exercise, number=0, has_download=1, has_verify=1, is_panel=1, status="collapsed", has_footer=1) %}
{% set identifier = exercise.identifier %}
{% set path = (exercise.lesson.path if exercise.lesson else exercise.detour.lesson.path) %}
{% set file =  baseUrl + "/" + path + "/exercise-" + identifier + ".md" %}
{% if is_panel %}
<cv-toggle toggle-id="exercises">

<panel tags="git-mastery" class="d-print-none" type="danger" {{ status }}
header="###### {{ icon_exercise }} EXERCISE{{ (' ' + number) if number else '' }}: `{{ identifier }}`"
popup-url="{{ file | replace(".md", ".html") }}">{% else %}
# Exercise `{{ identifier }}`
{% endif %}
{% if exercise.wip %}<div class="bg-danger text-white mt-2 mb-2"><md>->This exercise is currently under development/testing, not yet released to users.<-</md></div>{% endif %}
{% if has_download %}
**++To download++** the exercise:

* Navigate inside the `gitmastery-exercises` folder.{{ numbers_roman }}
* Run `gitmastery download {{ identifier }}` command.
{% else %}
**#r#No download##** required for this exercise.
{% endif %}
---{.dashed .border-danger}
{% set scenario_content %}<include src="{{ file }}#scenario" optional/>{% endset %}
{% set has_scenario = ((scenario_content | trim) != "") %}
{% if has_scenario %}

**++Scenario:++**

{{ scenario_content }}
{% endif %}
**++Your task:++**{.text-danger}
<div class="indented-level1">
<include src="{{ file }}#task" />

</div>

---{.dashed .border-danger}
{% if has_verify %}
**++To verify++** your work:

* Navigate to anywhere inside the `gitmastery-exercises/{{ identifier }}` folder %%(or any sub-folder of it)%%. {{ numbers_roman }}
* Run the `gitmastery verify` command.

<small>%%**To reset the exercise** and start over, navigate to the `gitmastery-exercises/{{ identifier }}` folder and run the `gitmastery progress reset` command.%%</small>
{% endif %}
{{ show_gm_footer() if has_footer else ""}}
{% if is_panel %}</panel>{% endif %}
</cv-toggle>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_exercise_link(exercise) -%}
[{{ exercise.identifier }}]({{ baseUrl }}/{{ exercise.lesson.path }}/exercise-{{ exercise.identifier }}.html)
{%- endmacro %}
<!-- ============================================================ -->

{% macro show_resources() %}
<panel class="d-print-none" type="info" header="{{ icon_resource }} RESOURCES" expanded>

{{ caller() }}
</panel>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_troubleshooting() %}
<panel type="seamless" header="%%**:fas-screwdriver-wrench: Troubleshooting tips ...** (click to expand)%%">

{{ caller() }}
</panel>

{% endmacro %}
<!-- ============================================================ -->

{% macro show_lesson_intro() %}
<cv-toggle toggle-id="lesson-intros">
<div class="d-print-none border border-success pt-0 ps-1 pb-1 pe-1 border-bottom-0 rounded-top" style="background-color: #e6fff2">

<div class="indented">
<br>
<div id="overview" >
{{ caller() }}

</div>
<span><small>This lesson covers that part.</small></span>
</div>
</div>
<br>
</cv-toggle>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_lesson_overview(lesson_data, is_outside_tour=0, tour=null) %}
<div class="indented-level1 d-print-none">

<div class="border border-success pt-2 ps-2 pb-1 pe-1 border-bottom-0 rounded-top" style="background-color: #e6fff2">
<include src="{{ baseUrl }}/{{ lesson_data.path }}/text.md#overview" inline />
</div>
{% set trial_link = baseUrl + '/lessons/trail/' + tour.folder + '/index.html' %}
{% set direct_link = baseUrl + '/'+ lesson_data.path + '/index.html' %}
{% set lesson_title = lesson_data.title %}
&nbsp;&nbsp; <a href="{{ direct_link }}" target="_blank">:glyphicon-new-window:</a> **[{{ lesson_title }}]({{ trial_link if is_outside_tour else '' }}{{'' if is_outside_tour else ('#' + slugify(lesson_title)) }})** covers that part.
</div>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_lesson(lesson_data) %}
<panel type="seamless" popup-url="{{ baseUrl }}/{{ lesson_data.path }}/" expanded>
<div slot="header" class="card-title">

#### <span class="text-success">{{ lesson_data.title }}</span>
</div>

<include src="{{ baseUrl }}/{{ lesson_data.path }}/unit-inElsewhere-asPanelBody.md" boilerplate />
</panel>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_sidebar(title, non_printable=0) %}
{% if non_printable %}<div class="d-print-none">{% endif %}

<box class="bg-light" icon=":fas-bookmark:" type="info" header="****SIDEBAR: {{ title }}****{.text-info}" seamless>

{{ caller() }}
</box>
{% if non_printable %}</div>{% endif %}
{% endmacro %}
<!-- ============================================================ -->

{% macro show_protip(title) %}
<box class="bg-light" icon=":fas-rocket:" type="success" header="****PRO-TIP: {{ title }}****{.text-success}" seamless>

{{ caller() }}
</box>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_tour_intro(tour, is_outside_tour=0) %}
{% set tour_folder = baseUrl + "/lessons/trail/" + tour.folder %}
<cv-toggle toggle-id="lesson-intros">
<div class="d-print-none" style="background-color: #e6fff2; border-top-left-radius: 15px; border-top-right-radius: 15px;">

{{ show_tour_title(tour.title) }}
<div class="p-3">

**Target Usage**: <include src="{{ tour_folder }}/text.md#destination" trim inline/>

**Motivation**: <include src="{{ tour_folder }}/text.md#motivation" trim inline/>

**Lesson plan**:
{% for lesson_name, lesson_data in tour.lessons %}
{{ show_lesson_overview(lesson_data, is_outside_tour, tour) }}
{% endfor %}

</div>
</div>
</cv-toggle>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_tour_outro(tour) %}
{% set tour_folder = baseUrl + "/lessons/trail/" + tour.folder %}

<cv-toggle toggle-id="lesson-intros">
<div  style="background-color: #e6fff2; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" class="d-print-none p-3 border-bottom border-5 border-success">

**At this point**: <include src="{{ tour_folder }}/text.md#achievements" trim inline/>

**What's next**: <include src="{{ tour_folder }}/text.md#next" trim inline/>

</div>
</cv-toggle>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_tour(tour) %}
{{ show_tour_intro(tour) }}

{% for lesson_name, lesson_data in tour.lessons %}
{{ show_lesson(lesson_data) }}
{% endfor %}

{{ show_tour_outro(tour) }}
{% endmacro %}
<!-- ============================================================ -->

{% macro show_tour_overview(tour) %}
{% set tour_page =  baseUrl + '/lessons/trail/' + tour.folder + '/index.html' %}
<div class="indented-level1">

<div class="border border-success pt-2 ps-2 pb-1 pe-1 border-bottom-0 rounded-top" style="background-color: #e6fff2">
Target usage: <include src="{{ tour.folder }}/text.md#destination" trim inline/>
<p/>
<small>This usage is covered by,</small>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;→ **[<md>++{{ tour.title }}++</md>]({{ tour_page }})**
<panel type="seamless" header="tour details ..." expand-headerless>

{{ show_tour_intro(tour, is_outside_tour=1) }}
<div class="ps-5 pt-2" style="border-left: 3px dotted #e6fff2; border-right: 3px dotted #e6fff2; border-top: none; border-bottom: none;">

Click [here]({{ tour_page }}) to see the full tour page.
</div>
{{ show_tour_outro(tour) }}
</panel>
</div>
{% endmacro %}
<!-- ============================================================ -->

{% macro show_faq(faq_id, status="", is_embedded=0, is_compact=0) %}
<a id="{{ faq_id }}" />
<panel type="seamless" {{ status if is_embedded else "expanded" }}>
<span slot="header" class="card-title"><markdown>{{ "" if is_embedded else "####" }} {{ faq }} <include src="{{ baseUrl }}/faq/faq-fragment.md#faq-{{ faq_id }}-Q" inline /></markdown></span>
<box type="secondary" seamless>

<include src="{{ baseUrl }}/faq/faq-fragment.md#faq-{{ faq_id }}-A" />
</box>
</panel>
{{ "<p/>" if not is_compact }}
{% endmacro %}
<!-- ============================================================ -->

{% macro ask_chatgpt(visible_text, prompt) %}<span class="badge bg-light rounded-pill text-dark fw-normal d-print-none"><a href="https://chatgpt.com/?q={{ (prompt if prompt else visible_text) | urlencode }}" target="_blank">{{ visible_text }}</a> %%:bi-openai:%%</span>{% endmacro %}
<!-- ============================================================ -->
